
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:after {
    clear: both;
}
html,body{
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body{
    font-family: "微软雅黑",Helvetica, Arial, sans-serif;
    font-family: "Microsoft YaHei" ! important;
    color: #fafafa;
    /*background-color: #f0faf0; bright*/
    /*background-color: #2DCC70;green*/
    background-color: #3E4048;
    /*background-color: #4D505B;*/
}
#page{
    /*z-index: 2;*/
    padding-bottom: 30px;
}
body{
    background-image: url('../img/items-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
a {
    text-decoration: none;
    /*color: purple;*/
    cursor: pointer;
    color: #fafafa;
}
/*reset*/
ul,li{
    margin:0;
    padding: 0;
    list-style: none;
}
hr{
    border:none;
    border-bottom:solid 1px #26272D;
}
footer,footer a{
    color: #26272D;
}
html{
    position: relative;
}
footer{
    width: 100%;
    height:60px;
    position: absolute;
    bottom: 0px;
}
header {
    padding: 15px;
    width: 100%;
    /*box-sizing: border-box;*/
}
section{
    width: 100%;
    /*padding-top:15px;*/

    /*box-sizing: border-box;*/
}
.colorbar{
    width: 100%;
    height: 5px;
    background-color: #28AD60;
    border-bottom: solid 1px #189D50;
}
header {
   /* background-color: #28AD60;
    border-bottom: solid 1px #189D50;*/
    background-color: #303239;
    border-bottom: solid 1px #202229;
    text-shadow:2px 2px 5px #222;
    background-image: url('../img/headerbg.png');
    background-repeat: repeat-x;
}
header h1{
    margin: 15px 15px 15px 20px;
}
.warper{
    max-width: 1200px;
    margin:0 auto;
    padding: 0;
}

.top-nav{
    /*width: 200px;*/
    margin-top: 12px;
    float: right;

}
.top-nav ul li{
    display: inline-block;
    margin-right: 15px;
}
#loginform input{
    width: 150px;
    height: 30px;
    color:#ddd;
    padding-left: 10px;
    border-radius: 3px;
    outline: none;
    border: solid 1px #1E2024;
    background-color:#2A2C32;
}
/*[role="navigation"]     { background-color: #28AD60; }*/
/*[role="main"]           { background-color: #4D505B; }*/
/*[role="complementary"]  { background-color: #28AD60; }*/

/* menu buttons */
.off-canvas-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.off-canvas-navigation a {
    display: inline-block;
    padding: 20px;
    min-width: 60px;
    text-align: center;
    color: #fafafa;
}
.menu-item      { float: left; background: #14A085; }
.sidebar-item   { float: right; background: #14A085; }
/* Defaults -----------------*/
.navwarper{
    margin:30px 0px 15px 15px;
    border-radius: 6px;
    /*background-color: #4F8598;*/
    background-color: #4D505B;
    border:solid 1px #35373d;
}

.cate-ul >li{
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    border-bottom: solid 1px #35373d;
}

.cate-ul >li:hover{
    background-color: #16A89E;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
}
.nav-mark{
    width: 15px;
    height: 15px;
    float: left;
    border:solid 2px #28AD60;
    border-radius: 7px;
}
.nav-mark-active{
    border:solid 3px #ccc;
    background-color: #28AD60;
    border-radius: 7px;
}
/*====*/
.right-sidebar{
    margin:30px 15px 15px 0px;
    border-radius: 6px;
    /*background-color: #4F8598;*/
    background-color: #4D505B;
    border:solid 1px #35373d;
    border-bottom:solid 2px #35373d;
}
.sidebar-header{
    border-radius: 6px 6px 0 0 ;
    background-color: #3a3d49;
    padding: 15px;
    margin:0;
    border-bottom: solid 1px #2f2f2f;
}
/*=====*/
.mainwarper{
    margin:30px 15px 15px 15px;
    border-radius: 6px;
    /*background-color: #4F8598;*/
    background-color: #28AD60;
    border:solid 1px #189D50;
    border-bottom: solid 3px #189D50;
    box-shadow: 1px 2px 6px #333;
}
/*==*/
.mainwarper>.joblist-ul>li{
    padding:0 15px 15px 15px;
    border-bottom: solid 1px #129949;
}
.joblist-ul>.jobfilter{
    padding: 15px 15px 15px 15px;
    border-radius: 6px 6px 0px 0px; 
    background-color: #189D50;
    border-bottom: solid 1px #109040;
    position: relative;
}
.joblist-ul>.jobfilter>h3{
    margin:5px 15px 5px 15px;
    font-size: 30px;
}
.joblist-ul > .jobfilter ul li{
    display: inline-block;
    height: 30px;
    margin-right: 15px;
    color: #ddd;
    font-size: 20px;
    /*line-height: 40px;*/
    
}
.joblist-ul > .jobfilter ul li:before{
  content: '';
  vertical-align: middle;
}
.joblist-ul > .jobfilter ul li button{
    position: absolute;
    top: 10px;
    right: 20px;
}
ul.joblist-ul>li>h2>a:hover{
    color:#074D10;
    -webkit-transition: all .15s ease-out;
       -moz-transition: all .15s ease-out;
        -ms-transition: all .15s ease-out;
         -o-transition: all .15s ease-out;
            transition: all .15s ease-out;
}
ul.joblist-ul>li>h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.joblist-detail>li{
    display: inline-block;
    margin-right: 15px;
    color: #3A3D49;
}
ul.joblist-detail>li>span{
    color: #4D505B;
}
.applied_users>li{
  margin-top: 15px;
}
.pagination li{
  display: inline-block;
  margin: 15px 0 10px 0;
}
.pagination li a{
  padding: 5px 15px 5px 15px;
  background-color: #38bD70;
  box-shadow: #089445 0px 3px 0px 0px;
  /*border: solid 1px #058035*/
}
.pagination li a.page_active{
  background-color: #14A085;
  /*border: solid 1px #089445;*/
  box-shadow: #14A085 0px 3px 0px 0px;
}
.pagination li a:hover{
  background-color: #189D50;
}
.pagination li a.page_active:hover{
  background-color: #24b095;
}
.pagination>li:first-of-type a{
  border-radius: 6px 0 0px 6px; 
}
.pagination >li:last-of-type a{
  border-radius: 0px 6px 6px 0px;
}
/*===== for inputs  ===*/
section input{
    border-radius: 6px;
    padding-left: 5px;
    height: 35px;
    outline: none;
    font-size: 20px;
    line-height: 30px;
    margin:10px;
}
section label{
    font-size: 20px;
    margin:10px;
}
/* add new job*/
#new_job input[name="title"]{
    margin-top: 15px;
    width: 80%;
}
#new_job input[name="hire_number"]{
    width: 10%;
}
#new_job input[name="require_exp"]{
    width: 40%;
}
#new_job input,textarea{
    border:solid 1px #087D30;
    background-color: #189D50;
    color: #ddd;
}

#new_job textarea{
    outline: none;
    width: 100%;
    min-height: 200px;
    border-radius: 6px;
    font-size: 16px;
}
#new_job select{
  outline: none;
  appearance:none;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #aaa;
  border: solid 1px #858C92;
  border-radius: 6px;
  min-width: 30%;
  padding:5px 5px;
  font-size: 16px;
  background: #40506f url('../img/downarrow.png') no-repeat scroll right center;
}
select:hover, select:active {
  border-color: #28AD60;
}
#signup-form{
    width: 90%;
    margin: 15px auto 5px;
}
#signup-form input[type="text"],
#signup-form input[type="password"]{
    width: 100%;
    border:solid 1px #087D30;
    background-color: #189D50;
    color: #ddd;
    margin-left: 5px;
}
.form_err{
  margin-top: 10px;
  padding: 20px;
  font-size: 18px;
  background-color: #40506F;
  border-radius: 6px;
  border:solid 1px #30405F;
  position: relative;
}
/*============select drop down=================*/
.dropdown {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}
/*================*/
.online-user-list li{
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.online-user-list li h4{
  margin: 0px 0 5px 0;
}
.online-user-list li img{
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.online-user-list li img:hover{
  border: solid 4px #28AD60;
}








/* Off Canvas -----------------*/

.container {
    overflow: hidden;
    width: 100%;
}

[role="navigation"],
[role="main"],
[role="complementary"] {
    position: relative;
    display: block;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

    /* js enabled / Default state  */
    .js [role="navigation"] {
        margin-left: -100%;
        float: left;
        z-index: 2;

        padding-bottom: 1em;
    }
    .js [role="main"] {
        margin-left: 0;
        float: left;
        z-index: 3;

        padding-bottom: 1em;
    }
    .js [role="complementary"] {
        margin-right: -200%;
        float: left;
        z-index: 2;
    }

    /* When .active-nav shift panels to right */
    .active-nav [role="navigation"] {
        margin-left: 0;
        width: 80%;
    }
    .active-nav [role="main"] {
        margin-right: -100%;
    }
    .active-nav [role="complementary"] {
        margin-right: -100%;
        float: right;
    }

    /* When .active-panel shift panels left */
    .active-panel [role="navigation"] {
        margin-left: -200%;
    }
    .active-panel [role="main"] {
        /* show a little bit of main pane*/
        margin-left: -90%;
    }
    .active-panel [role="complementary"] {
        margin-left: 0;
        width: 90%;
    }

    
/*===== radio button ====*/
input[type=radio] {
  border: 0;
    clip: rect(0 0 0 0);
    height: 2rem;
    margin: 0 -2rem -2rem 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 2rem;
  opacity: 0.001;
}

.radio-button-label {
  display: inline-block;
  line-height: 2rem;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zexeo-radio-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Background */
.zexeo-radio-button:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
    width: 2rem;
    height: 2rem;
  background: #e5e9e9;
    border: 1px solid #a5a8a8;
    border-radius: 100%;
  cursor: pointer;
  
    -webkit-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
}

/* Checkmark */
.zexeo-radio-button:after {
  opacity: 0;
    content: '';
    position: absolute;
  width: 1rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  background: #16A89E;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 1px rgba(255,255,255,0.50);
}

input[type=radio]:checked + .zexeo-radio-button:after {
    opacity: 1;
}

:focus + .zexeo-radio-button:before {
  border: 1px solid #0940fd;
  -webkit-box-shadow: 0 0 0 2px #6fb5f1;
  box-shadow: 0 0 0 2px #6fb5f1;
}
/*======== btn =========*/
.btn_cyan {
    outline: none;
    cursor: pointer;
  margin: 0px;
  border: none;
  font-size: 20px;
  color: #eee;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 6px;
  box-shadow: #049075 0px 3px 0px 0px;
  background-color: #14A085;
}

.btn_cyan:hover {
  background-color: #109780;
}

.btn_cyan:active {
  box-shadow: #transparent 0px -6px 0px 0px;
  background-color: #109780;
}
.btn-sm{
  outline: none;
    cursor: pointer;
    text-shadow:none;
  margin: 0px;
  border: none;
  font-size: 12px;
  color: #eee;
  padding: 5px 20px;
  margin: 10px 0;
  border-radius: 4px;
}
.btn-green{
    background-color: #28AD60;
    box-shadow: #089445 0px 2px 0px 0px;
}
.btn-green:hover {
  background-color: #189D50;
}
.btn-green:active{
   box-shadow: #transparent 0px -2px 0px 0px;
  background-color: #28AD60; 
}
.btn-cyan{
    background-color: #14A085;
    box-shadow: #049075 0px 2px 0px 0px;
}
.btn-cyan:hover {
  background-color: #109780;
}
.btn-cyan:active{
   box-shadow: #transparent 0px -2px 0px 0px;
  background-color: #109780; 
}
.btn-red{
    background-color: #DF3130;
    box-shadow: #B11516 0px 2px 0px 0px;
}
.btn-red:hover {
  background-color: #cF2120;
}
.btn-red:active{
   box-shadow: #transparent 0px -2px 0px 0px;
  background-color: #cF2120; 
}
.btn-grey{
    background-color: #4D505B;
    box-shadow: #3A3D49 0px 2px 0px 0px;
}
.btn-grey:hover {
  background-color: #3E4048;
}
.btn-grey:active{
   box-shadow: #transparent 0px -2px 0px 0px;
  background-color: #3E4048; 
}
/*==== this is for my notify animation ===*/
/*===============*/
.msgbox,.errbox{
  min-height: 100px;
  /*width: 540px;*/
  width: 40%;
  min-width: 400px;
  position: fixed;
  left: 0;
  bottom: 30px;
  
  padding: 15px 50px 10px 10px;
  z-index: 6;
  text-align: right;
}
.msgbox{
  background-color: #14A085;
}
.errbox{
  /*background-color: #14A085;*/
  background-color: #E74C3C;
}
.msgbox p,.errbox p{
  font-size: 26px;
  color: #eee;
}
.close-icon{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 100;
  color: #eee;
  font-family: 'Helvetica';
  cursor: pointer;
}
.moving-lef-tanimation{
  -webkit-animation: moveleft_sequence .5s ease-out; /* Safari/Chrome */
  -moz-animation: moveleft_sequence .5s ease-out; /* Firefox */
  -o-animation: moveleft_sequence .5s ease-out; /* Opera */
  animation: moveleft_sequence .5s ease-out; /* IE10+ and Future Browsers */
}
@-webkit-keyframes moveleft_sequence {
  from { left:-600px; }
  to { left:0; }
}
@-moz-keyframes moveleft_sequence {
  from { left:-600px; }
  to { left:0; }
}
@-o-keyframes moveleft_sequence {
  from { left:-600px; }
  to { left:0; }
}
@keyframes moveleft_sequence {
  from { left:-600px; }
  to { left:0; }
}




/* Medium Viewport Styles */
    @media screen and ( min-width: 42em ) {
        /* For medium size viewports, we'll have the navigation panel show by default and hide the sidebar. */
        .js [role="navigation"] {
            width: 30%;
            margin-left: 0;
        }
        .js [role="main"] {
            width: 70%;
            float: left;
        }
        .js [role="complementary"] {
            width: 30%;
        }
        /* hide menu button */
        .menu-button { display: none !important; }

        /* When .active-sidebar shift panels left */
        .active-panel [role="navigation"] {
            margin-left: -100%;
        }
        .active-panel [role="main"] {
            margin-left: 0;
            width: 60%;
        }
        .active-panel [role="complementary"] {
            margin-right: -60%;
            width: 40%;
        }
        .msgbox,.errbox{
          width: 90%;
        }
    }

    /* Large Viewport Styles */
    @media screen and ( min-width: 57em ) {
        .sidebar-button { display: none !important; }

        /* show all panels and adjust padding */
        .js [role="navigation"] {
            width: 15%;
            margin-left: 0;
            float: left;
        }
        .js [role="main"] {
            width: 60%;
            /*padding: 2%;*/
        }
        .js [role="complementary"] {
            width: 25%;
            margin-right: 0;
            float: right;
            /*padding: 2%;*/
        }
        /*.msgbox,.errbox{
          width: 40%;
        }*/

    }
    @media screen and ( min-width: 768px ) {
        .msgbox,.errbox{
          width: 50%;
        }
      
     }

/* Off Canvas -----------------

