extends ../layout

block content
  nav.off-canvas-navigation.clearfix
          ul
            li.menu-item
              a.menu-button(href='#menu') 工作类别
            li.sidebar-item
              a.sidebar-button(href='#sidebar') 菜单
  nav#menu(role='navigation')
    .navwarper
      ul.cate-ul
        li 
          a(href="#", target="_blank")
            .nav-mark.nav-mark-active
            | IT互联网
        li 
          a(href="#", target="_blank") 
            .nav-mark
            | 金融财经
        li 
          a(href="#", target="_blank") 
            .nav-mark
            | 服务业
        li 
          a(href="#", target="_blank") 
            .nav-mark
            | 旅游业
        li 
          a(href="#", target="_blank") 
            .nav-mark
            | 农业
        li 
          a(href="#", target="_blank") 
            .nav-mark
            | 金融财经
  // Main Content

  section(role='main')
    //- h1 最新招聘信息
    .mainwarper

      ul.joblist-ul
        .jobfilter
          form(id="jobfilter", method="post", action="#")
            ul
              li
                span 城市:
                select(name="city")
                  option(value="上海") 上海
                  option(value="北京") 北京
                  option(value="成都") 成都
                  option(value="广州") 广州
              li
                span 月薪范围:
                select(name="salary")
                  option(value="1000-3000") 1000-3000
                  option(value="3000-5000") 3000-5000
                  option(value="5000-7000") 5000-7000
                  option(value="7000-9000") 7000-9000
                  option(value="9000-12000") 9000-12000 
                  option(value="12000以上") 12000以上
                span ￥
        li
          h2 
            a(href="http://baidu.com" target="_blank") 招聘web前端开发
          
          ul.joblist-detail
            li 上海
            li 公司:英特尔科技
            li 月薪:8000-12000
        li
          h2 
            a(href="#") PHP后台开发
          ul.joblist-detail
            li 上海
            li 公司:XXXX科技
            li 月薪:4000-8000
        li
          h2 
            a(href="#") 寻找高级硬件工程师
          ul.joblist-detail
            li 上海
            li 公司:XXXX科技
            li 月薪:4000-8000

        li
          h2 
            a(href="#") FPGA工程
          ul.joblist-detail
            li 上海
            li 公司:XXXX科技
            li 月薪:4000-8000

  // Aside Right
  section#sidebar(role='complementary')
    .right-sidebar
      .sidebar-header
        span 我申请的工作
      p not yet 
    .right-sidebar
      .sidebar-header
        span 最新用户
      p 侧栏内容
